<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create">Create Post</a>
        <a href="/login">Login/Signup</a>
        <a href="/signup">Sign Up</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>  